<div>
<span>@FilterControl_Label_FilterType</span>
	<div class="filterEditorWindow-filterTypeDropDown"></div>

	<div class="filterEditorWindow-headerCurrentCustomFilter">@FilterControl_Label_FilterSettings</div>
	
	<div id="labelFilterPanel" class="filterEditorWindow-customFilterPanel clearfix">
		<div class="filterEditorWindow-dropDownPanel filterEditorWindow-levelPropertyDropDownPanel">
		</div>
		<div class="filterEditorWindow-dropDownPanel filterEditorWindow-labelFilterTypeDropDownPanel">
		</div>
		<div class="filterEditorWindow-textEditorPanel">
			<div id="textBox1LabelFilterControlPanel" class="filterEditorWindow-contentTextEditorPanel filterEditorWindow-contentTextEditorPanel_width100percent">
				<input id="textBox1LabelFilterControl" class="form-control" type="text">
			</div>
			<div id="andLabelFilterControlPanel" class="filterEditorWindow-labelAnd">@Filter_Label_And</div>
			<div id="textBox2LabelFilterControlPanel"
				 class="filterEditorWindow-contentTextEditorPanel filterEditorWindow-contentTextEditorPanel_width40percent">
				<input id="textBox2LabelFilterControl" class="form-control" type="text">
			</div>
		</div>
	</div>

  <div id="valueFilterPanel" class="filterEditorWindow-customFilterPanel clearfix">
    <div id="measureChoicePanelValueFilter" class="filterEditorWindow-valueFilterPanel-measureChoicePanel"></div>
    <div class="filterEditorWindow-dropDownPanel filterEditorWindow-valueFilterTypeDropDownPanel">
    </div>
    <div class="filterEditorWindow-textEditorPanel">
      <div id="numericBox1ValueFilterControlPanel" class="filterEditorWindow-contentTextEditorPanel filterEditorWindow-contentTextEditorPanel_width100percent">
        <input class="form-control" type="number"
               id="numericBox1ValueFilter"
               step="1"
               value="1">
      </div>
      <div id="andValueFilterControlPanel" class="filterEditorWindow-labelAnd filterEditorWindow-visibility_collapsed">@Filter_Label_And</div>
      <div id="numericBox2ValueFilterControlPanel" class="filterEditorWindow-contentTextEditorPanel filterEditorWindow-contentTextEditorPanel_width40percent filterEditorWindow-visibility_collapsed">
        <input class="form-control" type="number"
               id="numericBox2ValueFilter"
               step="1"
               value="1">
      </div>
    </div>
  </div>

  <div id="topFilterPanel" class="filterEditorWindow-customFilterPanel clearfix">
    <div class="filterEditorWindow-dropDownPanel filterEditorWindow-topFilterPanel-filterTypeDropDownPanel">
    </div>
    <div class="filterEditorWindow-topFilterPanel-inputPanel">
      <input class="form-control" type="number"
             id="countNumericDownFilterTargetType"
             step="1"
             value="1">
    </div>
    <div class="filterEditorWindow-dropDownPanel filterEditorWindow-topFilterPanel-targetTypeDropDownPanel"></div>
    <div id="measureChoicePanelTopFilter" class="filterEditorWindow-topFilterPanel-measureChoicePanel"></div>
  </div>
</div>