<div>
    <button type="button" class="btn btn-default btn-xs drillThrough-exportToExcelButton" >@PivotGrid_ExportToExcelButton_ToolTip</button>
</div>
<div>
    <span>@CellValue_Label</span>
    <span class="drillThrough-cellValue"></span>
</div>
<div class="drillThrough-partPanel">
    <!--<div>@ValueDeliveryControl_DeliveredCellSettings</div>-->
    <table class="drillThrough-tuplesData">
        <thead>
        <tr>
            <th>@ValueDeliveryControl_Hierarchy</th>
            <th>@ValueDeliveryControl_Member</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<div class="drillThrough-partPanel" style="height: 400px; overflow: hidden; width: 100%;">
    <div class="drillThrough-data"></div>
</div>