<div class="modal-header editSeria-notSelection">
    <button type="button" id="btnX" ng-click="cancel()" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">{{ 'EditSeriaWindow_Title' | translate }}</h4>
</div>
<div class="modal-body editSeria-body">
    <div class="editSeria-field">
        {{ 'EditExtensionWindow_SeriaTitle' | translate }}
        <input type="text" class="form-control" ng-model="title">
    </div>
    <div class="editSeria-field">
        {{ 'EditExtensionWindow_ColumnIndex' | translate }}
        <input type="number" class="form-control" ng-model="index">
    </div>
</div>
<div class="modal-footer editSeria-notSelection">
    <button class="btn btn-default" ng-click="ok()" ng-class="index === undefined ? 'disabled':'' ">
        <span>{{ 'DialogButton_Ok' | translate }}</span>
    </button>
    <button class="btn btn-default" ng-click="cancel()">
        <span>{{ 'DialogButton_Cancel' | translate }}</span>
    </button>
</div>
