<div class="modal-header">
	<button type="button" id="btnX" ng-click="cancel()" class="close" aria-label="Close">
		<span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title">{{ 'EditConnection' | translate }}</h4>
</div>
<div class="modal-body">
	<div>
		<textarea class="form-control editConnection-connectionStringTextArea" ng-model="currentConnection"
				  id="connectionString"
				  ng-attr-placeholder="{{'ConnectionStringPlaceHolder'|translate}}"></textarea>

		<div class="editConnection-checkConnectionPanel">

			<checkconnectionbutton data-connection="{{currentConnection}}"
								   data-onconnectionchecked="onConnectionChecked(e)"
								   data-onstartchecking="onStartChecking()"></checkconnectionbutton>

			<div class="editConnection-statusPanel" ng-show="isVisibleBadStatusPanel">
				<div class="editConnection-statusImage imageLibrary_error"></div>
				<span>{{'ConnectionStringStatusBad'|translate}}</span>
				<a class="editConnection-linkShowException" ng-click="showError()">{{'ConnectionString_ShowExceptionButton'|translate}}</a>
			</div>
			<div class="editConnection-statusPanel" ng-show="isVisibleGoodStatusPanel">
				<div class="editConnection-statusImage imageLibrary_ok"></div>
				<span>{{'ConnectionStringStatusGood'|translate}}</span>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-default" ng-click="ok()" ng-disabled="!currentConnection">
		<span>{{ 'DialogButton_Ok' | translate }}</span>
	</button>
	<button class="btn btn-default" ng-click="cancel()">
		<span>{{ 'DialogButton_Cancel' | translate }}</span>
	</button>
</div>