<div class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-backdrop="false" data-dismiss="modal">
					<span aria-hidden="false">&times;</span>
				</button>
				<h4 class="modal-title">@FilterBuilder_Caption</h4>
			</div>
			<div class="modal-body">


				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li id="selectionFilterTab" role="presentation" class="active">
						<a href="#membersFilter" aria-controls="membersFilter" role="tab" data-toggle="tab">@FilterEditorWindow_SelectionTabTitle</a>
					</li>
				    <li id="customFilterTab" role="presentation">
				        <a href="#customFilter" class="filterEditorWindow-customFilterRef" aria-controls="customFilter" role="tab" data-toggle="tab">
                            <span class="filterEditorWindow-validationIndicator validation-alert-indicator validation-indicator-hidden glyphicon glyphicon-alert" title="@FilterEditorWindow_Warning"></span>
				            @FilterEditorWindow_FilterTabTitle
				        </a>
				    </li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="membersFilter">
						<div class="checkbox filterEditorWindow-useMemberChoiceCheckbox">
							<label><input type="checkbox"> @MemberChoice_Caption</label>
						</div>
					    <div class="filterEditorWindow-memberChoicePanel filterEditorWindow-isLoading">
                            <i class="fa fa-spinner fa-pulse fa-1x fa-fw"></i>@Loading
					    </div>
					</div>
					<div role="tabpanel" class="tab-pane" id="customFilter">
						<div class="checkbox filterEditorWindow-useSimpleCustomFilterCheckbox">
							<label><input type="checkbox"> @FilterControl_Caption</label>
						</div>
						<div></div>
						<div class="checkbox filterEditorWindow-useSmartCustomFilterCheckbox">
							<label><input type="checkbox"> @FilterControl_Caption</label>
						</div>

						<div class="clearfix filterEditorWindow-customFilterPanel">
						</div>
					</div>
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default filterEditorWindow-okButton">@DialogButton_Ok</button>
				<button type="button" class="btn btn-default filterEditorWindow-cancelButton" data-dismiss="modal">@DialogButton_Cancel</button>
			</div>


		</div>
	</div>
</div>