<div class="groupFilter">
    <div class="groupFilter-toolBar">
        <span class="groupFilter-caret fa fa-caret-down"></span><!--
        --><span class="validation-alert-indicator validation-indicator-hidden glyphicon glyphicon-alert" title="@FilterEditorWindow_Warning_GroupMustContainValue"></span><!--
        --><div class="groupFilter-conditionSelector"></div>

        <div class="groupFilter-buttonsPanel">
            <!--<div class="btn-group">-->
                <button class="btn btn-default groupFilter-imageButton groupFilter-addCaptionFilterButton" title="@Filter_Add_Caption_Type">
                    <div class="groupFilter-imageContainer imageLibrary_labelFilter"></div>
                </button>
                <button class="btn btn-default groupFilter-imageButton groupFilter-addValueFilterButton" title="@Filter_Add_Value_Type">
                    <div class="groupFilter-imageContainer imageLibrary_valueFilter"></div>
                </button>
                <button class="btn btn-default groupFilter-imageButton groupFilter-addFiltersGroupButton" title="@Filter_Add_LogicalGroup_Type">
                    <div class="levelSelector-imageContainer imageLibrary_groupFilters"></div>
                </button>
            <!--</div>-->
            <button class="btn btn-default groupFilter-imageButton groupFilter-removeGroupFilterButton" title="@Delete">
                <div class="groupFilter-imageContainer imageLibrary_remove"></div>
            </button>
        </div>
    </div>
	<div class="groupFilter-childPanel"></div>
</div>