<div class="labelFilter clearfix">
    <span class="validation-alert-indicator validation-indicator-hidden glyphicon glyphicon-alert" title="@FilterEditorWindow_Warning_ValueNotEntered"></span>
    <div class="labelFilter-propertySelector"></div>
    <div class="labelFilter-operationSelector"></div>
    <div class="labelFilter-inputsPanel">
        <div class="labelFilter-input1 labelFilter-input1_100pct">
            <input class="form-control" type="text">
        </div>
        <div class="labelFilter-andLabel">@Filter_Label_And</div>
        <div class="labelFilter-input2 labelFilter-input2_40pct">
            <input class="form-control" type="text">
        </div>
    </div>
    <button class="btn btn-default labelFilter-imageButton labelFilter-removeFilterButton" title="@Delete">
        <div class="labelFilter-imageContainer imageLibrary_remove"></div>
    </button>
</div>