<div class="levelSelector">
    <div class="levelSelector-toolBar">
        <span class="levelSelector-caret fa fa-caret-down"></span><!--
     --><span class="validation-alert-indicator validation-indicator-hidden glyphicon glyphicon-alert" title="@FilterEditorWindow_Warning_LevelSelectorMustContainValue"></span><!--
     --><div class="levelSelector-levelsSelectorPanel"></div>
        <div class="levelSelector-buttonsPanel">
            <!--<div class="btn-group">-->
                <button class="btn btn-default levelSelector-imageButton levelSelector-addTopFilterButton" title="@Filter_Add_Top_Type">
                    <div class="levelSelector-imageContainer imageLibrary_topFilter"></div>
                </button>
                <button class="btn btn-default levelSelector-imageButton levelSelector-addFiltersGroupButton" title="@Filter_Add_LogicalGroup_Type">
                    <div class="levelSelector-imageContainer imageLibrary_groupFilters"></div>
                </button>
            <!--</div>-->
            <button class="btn btn-default levelSelector-imageButton levelSelector-removeSelectorButton" title="@Delete">
                <div class="levelSelector-imageContainer imageLibrary_remove"></div>
            </button>
        </div>
    </div>
	<div class="levelSelector-childPanel"></div>
</div>