<div class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" id="btnX" class="close" data-backdrop="false" data-dismiss="modal"><span aria-hidden="false">&times;</span></button>
				<h4 class="modal-title">@MeasureChoice_Caption</h4>
			</div>
			<div id="contentPanel" class="modal-body">

			</div>
			<div class="modal-footer">
				<button id="btnOk" type="button" class="btn btn-default" data-dismiss="modal">@DialogButton_Ok</button>
				<button id="btnCancel" type="button" class="btn btn-default" data-dismiss="modal">@DialogButton_Cancel</button>
			</div>
		</div>
	</div>
</div>