<div class="dropdown btn-group measureChoiceSelector_button default-dropdown">
  <button id="showDialogButton0" class="btn btn-default measureChoiceSelector_button_infoButton dropdown-toggle btn-toggle-withcarret" type="button">
    <div id="imageContentButton" class="measureChoiceSelector_button_infoButton_imageContent"></div>
    <span id="textContentButton">&#160;</span>
  </button>
  <button id="showDialogButton1" type="button" class="btn btn-default dropdown-toggle caret-btn">
    <span>...</span>
  </button>
</div>