<div class="memberChoice">
	<div class="memberChoice-content">
		<div class="memberChoice-toolBar">
		    <!--<div class="btn-group">-->
		        <button type="button" class="btn btn-default membersChoice-refreshButton" title="@MemberChoice_Refresh_ToolTip">
		            <span class="glyphicon glyphicon-refresh"></span>
		        </button>
		        <button type="button" class="btn btn-default membersChoice-clearSelectionButton" title="@MemberChoice_ClearSelection_ToolTip">
		            <div class="glyphicon glyphicon-remove"></div>
		        </button>
		        <button type="button" class="btn btn-default membersChoice-showHideSearchPanelButton" title="@Find">
		            <div class="glyphicon glyphicon-search"></div>
		        </button>

		    <button type="button" class="btn btn-default membersChoice-showOnlySelectedItems" title="@MemberChoice_ShowOnlySelectedItems">
		        <i class="fa fa-list-ul" aria-hidden="true"></i>
		    </button>
            
            <button type="button" class="btn btn-default membersChoice-addSlicerButton" title="@MemberChoice_AddSlicerTooltip">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </button>
		    <!--</div>-->

            <button type="button" class="btn btn-default membersChoice-showPropertiesButton pull-right" title="@MemberChoice_ShowMemberProperties_ToolTip">
                <div class="glyphicon glyphicon-list-alt"></div>
            </button>
		</div>
		<div class="memberChoice-searchPanel">
		</div>
		<div class="memberChoice-membersPanel memberChoice-membersPanel_collapsedSearchPanel">
		    <div class="membersChoice-membersPanel-treeView membersChoice-membersPanel-treeView_collapsedPropertiesPanel">
		    </div>
		    <div class="memberChoise-propertiesPanel memberChoise-propertiesPanel_collapsed">
		        <h5 class="memberChoise-propertiesPanel-title"></h5>
		        <div class="memberChoise-propertiesPanel-tableContainer">
		            <div class="alert alert-warning memberChoise-propertiesPanel-alert" role="alert"></div>
		            <table class="table table-striped memberChoise-propertiesPanel-table"></table>
		        </div>
		    </div>
		</div>
		<div class="memberChoice-statusSearchPanel">			
		</div>
	</div>
</div>