<div class="modal-header newReport-notSelection">
	<button type="button" id="btnX" ng-click="cancel()" class="close" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
	<h4 class="modal-title">{{ 'NewReportWindow_Title' | translate }}</h4>
</div>
<div class="modal-body newReport-body newReport-notSelection">
	<div>
		<span class="newReport-caption">{{ 'NewReportWindow_captionName' | translate }}</span>
		<input class="form-control" type="text" ng-model="currentCaption">
	</div>
	<div class="newReport-cubePanel">
		<span class="newReport-caption">{{ 'NewReportWindow_cubeName' | translate }}</span>
		<div data-cube-choice-control data-oncubeselectedchanged="onCubeSelectedItemChanged(e)" data-connection="{{connection}}"></div>
	</div>
</div>
<div class="modal-footer newReport-notSelection">
	<button class="btn btn-default" ng-click="ok()" ng-disabled="!currentCubeName">
		<span>{{ 'DialogButton_Ok' | translate }}</span>
	</button>
	<button class="btn btn-default" ng-click="cancel()">
		<span>{{ 'DialogButton_Cancel' | translate }}</span>
	</button>
</div>