    <div class="modal-header">
        <button type="button" id="btnX" ng-click="cancel()" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{ 'LoadDialog_Caption' | translate }}</h4>
    </div>
    <div class="modal-body openReport-windowContentPanel">
        <div data-ranet-search-tree-view data-datasource="datasource" data-onselectedchanged="onSelectedItemChanged(e)" data-searchtreeoptions="searchTreeViewOptions" class="openReport-reportsTree"></div>
        <div class="openReport-selectedItemDetailsPanel">
            <span>{{ 'ObjectDescriptionControl_Name' | translate }}</span>
            <input type="text"
                   ng-readonly="true"
                   ng-model="selectedItem.caption"
                   class="form-control" />
            <span>{{ 'ObjectDescriptionControl_Description' | translate }}</span>
            <textarea class="form-control openReport-selectedItemTextAreaDescription"
                      ng-readonly="true"
                      ng-model="selectedItem.description"></textarea>
        </div>
    </div>
<div class="modal-footer">
    <button class="btn btn-default" ng-disabled="selectedItem==undefined||selectedItem.hasOwnProperty('items')" ng-click="ok()">
        <span>{{ 'DialogButton_Ok' | translate }}</span>
    </button>
    <button class="btn btn-default" ng-click="cancel()">
        <span>{{ 'DialogButton_Cancel' | translate }}</span>
    </button>
</div>