<div>
    <div class="memberChoice-searchPanel-propertiesDropDown">
    </div>
    
    <div class="memberChoice-searchPanel-comparisonDropDown">
    </div>

    <div class="memberChoice-searchPanel-searchText">
		<!--<input class="form-control memberChoice-searchTextBox" type="text">-->
	</div>

	<div class="btn-group memberChoice-searchPanel-groupButtons">
		<button type="button" class="btn btn-default memberChoice-searchPanel-searchButton" title="@Find">
			<div class="glyphicon glyphicon-search"></div>
			<!--<div class="fa fa-spinner fa-spin"></div>-->
		</button>
		<button type="button" class="btn btn-default membersChoice-searchPanel-cancelSearchButton" title="@MemberChoice_CancelSearchResult_ToolTip">
			<div class="glyphicon glyphicon-remove"></div>
		</button>
	</div>
</div>