<div>

	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active">
			<a href="#rows" role="tab" data-toggle="tab">@Sorting_Rows</a>
		</li>
		<li role="presentation">
			<a href="#columns" role="tab" data-toggle="tab">@Sorting_Columns</a>
		</li>
	</ul>

	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="rows">
			<div class="sortOptionsEditor-tabContent">
				<div>
					<input type="checkbox" class="sortOptionsEditor-usingSortingSwitcher"/><span class="sortOptionsEditor-inputLabel">@SortingEditor_UseSortingLabel</span>
				</div>

				<div class="sortOptionsEditor-partPanel sortOptionsEditor-sortMode">
					<div>
						<input type="radio" name="sortMode" value="byProperty" checked/><span class="sortOptionsEditor-inputLabel">@SortingBy_Property</span>
					</div>
					<div>
						<input type="radio" name="sortMode" value="byContext" checked/><span class="sortOptionsEditor-inputLabel">@SortingBy_Context</span>
					</div>
				</div>

				<div class="sortOptionsEditor-sortByContextPanel">
					<div class="sortOptionsEditor-partPanel">
						<div>
							<input type="radio" name="direction2" value="ascending" checked/><span class="sortOptionsEditor-inputLabel">@Sorting_Ascending_Label</span>
						</div>
						<div>
							<input type="radio" name="direction2" value="descending"/><span class="sortOptionsEditor-inputLabel">@Sorting_Descending_Label</span>
						</div>
					</div>
					<div class="sortOptionsEditor-partPanel sortOptionsEditor-usingSortingByMemberPanel" style="display: none;">
						<input type="checkbox"/><span class="sortOptionsEditor-inputLabel"></span>
					</div>
					<div class="sortOptionsEditor-partPanel sortOptionsEditor-usingSortingByMeasurePanel">
						<input type="checkbox"/><span class="sortOptionsEditor-inputLabel">@SortingEditor_UseSortingByMeasure</span>
						<div class="sortOptionsEditor-measureSelector"></div>
					</div>
				</div>

				<div class="sortOptionsEditor-sortByPropertyPanel" style="display: none;"></div>

			</div>
		</div>


		<div role="tabpanel" class="tab-pane" id="columns">
			<div class="sortOptionsEditor-tabContent">
				<div>
					<input type="checkbox" class="sortOptionsEditor-usingSortingSwitcher"/><span class="sortOptionsEditor-inputLabel">@SortingEditor_UseSortingLabel</span>
				</div>

				<div class="sortOptionsEditor-partPanel sortOptionsEditor-sortMode">
					<div>
						<input type="radio" name="sortMode1" value="byProperty" checked/><span class="sortOptionsEditor-inputLabel">@SortingBy_Property</span>
					</div>
					<div>
						<input type="radio" name="sortMode1" value="byContext" checked/><span class="sortOptionsEditor-inputLabel">@SortingBy_Context</span>
					</div>
				</div>

				<div class="sortOptionsEditor-sortByContextPanel">
					<div class="sortOptionsEditor-partPanel">
						<div>
							<input type="radio" name="direction1" value="ascending" checked/><span class="sortOptionsEditor-inputLabel">@Sorting_Ascending_Label</span>
						</div>
						<div>
							<input type="radio" name="direction1" value="descending"/><span class="sortOptionsEditor-inputLabel">@Sorting_Descending_Label</span>
						</div>
					</div>
					<div class="sortOptionsEditor-partPanel sortOptionsEditor-usingSortingByMemberPanel" style="display: none;">
						<input type="checkbox"/><span class="sortOptionsEditor-inputLabel"></span>
					</div>
					<div class="sortOptionsEditor-partPanel sortOptionsEditor-usingSortingByMeasurePanel">
						<input type="checkbox"/><span class="sortOptionsEditor-inputLabel">@SortingEditor_UseSortingByMeasure</span>
						<div class="sortOptionsEditor-measureSelector"></div>
					</div>
				</div>
				
				<div class="sortOptionsEditor-sortByPropertyPanel" style="display: none;"></div>
			</div>
		</div>

	</div>

</div>