<div class="topFilter clearfix">
    <span class="validation-alert-indicator validation-indicator-hidden glyphicon glyphicon-alert" title="@FilterEditorWindow_Warning_MeasureNotSelected"></span>
    <div class="topFilter-directionSelector"> </div>
    <div class="topFilter-valueInputPanel">
        <input class="form-control" type="number"
               step="1"
               value="1">
    </div>
    <div class="topFilter-targetSelector"></div>
    <div class="topFilter-measureSelector"></div>
    <button class="btn btn-default topFilter-imageButton topFilter-removeGroupFilterButton" title="@Delete">
        <div class="topFilter-imageContainer imageLibrary_remove"></div>
    </button>
</div>