<div class="valueFilter clearfix">
    <span class="validation-alert-indicator validation-indicator-hidden glyphicon glyphicon-alert" title="@FilterEditorWindow_Warning_MeasureNotSelected"></span>
    <div class="valueFilter-measureSelector"></div>
    <div class="valueFilter-operationSelector"></div>
    <div class="valueFilter-inputsPanel">
        <div class="valueFilter-input1 valueFilter-input1_100pct">
            <input class="form-control" type="number"
                   step="1"
                   value="1">
        </div>
        <div class="valueFilter-andLabel valueFilter-element_hidden">@Filter_Label_And</div>
        <div class="valueFilter-input2 valueFilter-input2_40pct valueFilter-element_hidden">
            <input class="form-control" type="number"
                   step="1"
                   value="1">
        </div>
    </div>
    <button class="btn btn-default valueFilter-imageButton valueFilter-removeFilterButton" title="@Delete">
        <div class="valueFilter-imageContainer imageLibrary_remove"></div>
    </button>
</div>